<!DOCTYPE html>
<html lang="fr">
  {{> head }}
  <body>
    {{> header }}
    <main id="top">
{{#sections}}
      {{> {{.}} }}
{{/sections}}
    </main>
    {{> footer }}
    {{> scripts }}
  </body>
</html>
